<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div class="container">
		<div class="row bigBox">
			<div> 
			</div>
			<div class="firstBox col-md-2">
				<img id="edit" src="EditIcon.svg">
				<img id="happy" src="Happy.svg">
			</div>
			<h3 class="col-md-6" style="color: white;">Awesome! Thank you for your feedback.</h3>	
			<p class="col-md-5">Your answers will <strong>always remain anonymous</strong> and will be viewed by the following managers:
			<br><br> Marcus Butterseed
			</p>		
			<!-- <p class="col-md-6">Marcus Butterseed</p> -->
		</div>
		<br>
		<p style="font-size: 20px; color: white; margin-left: 1%;">Do you agree with the following statements:</p>
		<div class="questions">

			<div class="row qs">
				<div class="q1 col-md-6">
					<h3>I am satisfied with my roles and responsibilities.</h3>
					<div class="starStatus">
						<p>star</p>
					</div>
				</div>
			</div>
			
			<div class="row qs">
				<div class="q2 col-md-6">
					<h3>I feel I have a healthy work/life balance.</h3>
				</div>
			</div>

			<div class="row qs">
				<div class="q3 col-md-6">
				<h3>I feel comfortable working and interacting with the colleagues on my team.</h3>
				</div>
			</div>

			<div class="row qs">
				<div class="q4 col-md-6">
					<h3>I like my work environment, and I believe it helps me perform at my best.</h3>
				</div>
			</div>

			<div class="row qs">
				<div class="q5 col-md-6">
					<h3>My direct manager gives me necessary support and clear objectives.</h3>
				</div>
			</div>

			<div class="row qs">
				<div class="q6 col-md-6">
					<h3>Would you like to add anything?</h3>
				</div>
			</div>

			
		</div>

		<div class="side">
			<p>h</p>
		</div>
		
	</div>

	
	


</body>
</html>

